@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* The box-sizing property defines how the width and height of an element are calculated: should they include padding and borders, or not. */
}

body {
	font-family: 'Montserrat', sans-serif;
}

header {
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 5px solid whitesmoke;
}

ul {
	display: flex;
	list-style-type: none;
	align-items: center;
}

ul li a {
	padding: 0 20px;
	text-decoration: none;
	color: #3a3a3a;
	display: inline-block;
}

li a::after {
	content: '';
	display: block;
	height: 4px;
	width: 0;
	margin-top: 5px;
	background: #c4c4f7;
	transition: all .5s;
}

li a:hover::after {
	width: 100%;
}

main {
	display: flex;
	align-items: center;
	/* align-items - vertically align */
	justify-content: center;
	/* justify- horizontally align */
	height: calc(100vh - 100px);
}
